<div id="thank-you-message">
  <div class="jumbotron" style="width: 60%;">
    <h1 class="display-4">Thank you for your survey!!</h1>
    <p class="lead">We hope you learned a lot from this learning excercise! Below you can see how your survey data was saved in the database.</p>
    <hr class="my-4">
  </div>
</div>