body {
    background-color: white;
    .flex { display: flex; }
    
    .header {
        h1, h2 { font-family: 'Nova Mono', monospace; }
        padding: 10px 0  10px 20px;
        position: relative;
        height: 815px;
        .farm-name {
            margin-left: 105px;
            margin-bottom: -265px;
            h1, h2 { font-weight: 900 }
            h1 { font-size: 90px; }
            h2 { font-size: 70px; }
        }
        .main-image {
            float: right;
            width: 70%;
            height: 900px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
            }
        }
        .location {
            min-width: 250px;
            display: inline-block;
            position: absolute;
            bottom: 255px;
            left: 270px;
            clear: right;
            border-radius: 25px;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            .left, .right {
                padding: 15px;
                color: #fff;
                box-sizing: border-box;
                text-align: center;
                display: inline-block;
                margin: 0;
            }
            .left {
                background-color: #007db6;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
            }
            .right {
                background-color: black;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        }
    }
    .section-1 {
        width: 80%;
        height: 600px;
        clear: both;
        justify-content: space-between;
        float: right;
        .left {
            width: 450px;
            h2{
              font-size: 20px;
              font-weight: 700;
              margin-bottom: 40px; 
            }
            p { margin-left: 100px; }
        }
        h3 {
            span { font-weight: 900; }
            font-size: 50px;
            width: 600px;
            -ms-transform: rotate(-90deg); /* IE 9 */
            -webkit-transform: rotate(-90deg); /* Safari prior 9.0 */
            transform: rotate(-90deg); /* Standard syntax */
        }
    }
    .section-2 {
        clear: both;
        .left, .right { padding: 0; }
        .right { 
            clear: right;
            float: right;
            .runner {
                justify-content: flex-end;
                overflow: hidden;
                img {
                    margin-right: -110px;
                    height: 100%;
                }
                height: 400px;
                width: 300px;
            }
         }
         .left {
            justify-content: flex-end;
         }
    }
}

@media (min-width: 992px)
{
    .section-2 {
        .right.col-md-8 {
            width: 69.1%;
        }
    }
}