#thank-you-message {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

#thank-you-message .display-4 {
  font-weight: bolder;
  font-family: 'Roboto Slab', monospace;
}
pre {
  background-color: #fff;
  padding: 15px 0;
}
span.hljs-attr {
  margin-left: 50px;
}